html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 32px 40px 0;
}

@media (max-width: 600px) {
    .header {
        padding: 16px 18px;
    }
}

body {
    margin: 0;
    background-color: lightcoral;
    font-family: Inter, sans-serif, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#adventurer {
    margin: auto;
    grid-column: 7;
    grid-row: 5;
}

#count {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 60px;
}

#title {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 400px;
    height: 100px;
}

#question {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 400px;
    height: 60px;
}

#score {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 60px;
}

@keyframes scroll-anim {
    100% {
        background-position: 0 -100%;
    }
}

.containerVals {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr;
}

.container {
    width: 90%;
    max-height: 720px;
    margin: 0 auto;
    background: url('longMountainPic.jpg') repeat-y;
    background-size: 100%;
    animation: scroll-anim 500s linear infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#option1 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    ;
    font-size: 30px;
    color: white;
    grid-column: 2;
    grid-row: 1;
    width: 100px;
    max-height: 100%;
}

#option2 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    grid-column: 4;
    grid-row: 1;
    width: 100px;
    max-height: 100%;
}

#option3 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    grid-column: 6;
    grid-row: 1;
    width: 100px;
    max-height: 100%;
}

#option4 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    grid-column: 11;
    grid-row: 1;
    width: 100px;
    max-height: 100%;
}

#option5 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    grid-column: 13;
    grid-row: 1;
    width: 100px;
    max-height: 100%;
}