body {
    padding-top: 30px;
    font-family: Montserrat;
    width: 1000 px;
    background-color: darkolivegreen;
    margin: auto;
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 5px;
}

#adventurer {
    margin: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#count {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 60px;
}

#title {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 400px;
    height: 100px;
}

#question {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 400px;
    height: 60px;
}

#score {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 60px;
}

@keyframes scroll-anim {
    100% {
        background-position: 0 -100%;
    }
}

.container {
    margin: auto;
    width: 100%;
    height: 32.6vw;
    background: url('longMountainPic.jpg') repeat-y;
    background-size: 100%;
    animation: scroll-anim 60s linear infinite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

#option1 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    grid-column-start: 1;
    grid-column-end: 2;
}

#option2 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    grid-column-start: 2;
    grid-column-end: 3;
}

#option3 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    grid-column-start: 3;
    grid-column-end: 4;
}

#option4 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    grid-column-start: 4;
    grid-column-end: 5;
}

#option5 {
    background-image: url('fullBranch.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    grid-column-start: 5;
    grid-column-end: 6;
}